
.community-nav {
  margin-top: 15px;
}
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}
.community-nav .navbar-brand>img {
  padding: 7px 15px;
}

.community-nav .navbar-default {
  background-color: #FFF;
  border: none;
}
